@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(Montserrat/Montserrat-VariableFont_wght.ttf);
}


@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(Roboto/Roboto-Light.ttf);
}

